{% load i18n %}

<div class="card">
    <div class="card-body">
        <div class="row mt-2 mb-2">
            <div class="col-sm">
              <div class="alert alert-danger">
                <p class="fs-5 fw-bold">
                    {% trans 'Atención' %}
                </p>
                <p>
                    {% trans 'Recuerde que para este tipo de interacción requiere de la <strong>aprobación por escrito del Director de Medical Affairs de la División de EMEA</strong> para el suministro de fondos calificado como ARG' %}.
                </p>
              </div>
            </div>
        </div>
    </div>
</div>